#header {
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0px 0px 0px;
    margin: 0px;
    background: #2b3e50;
    background-repeat: repeat-x;
    position: fixed;
    z-index: 500!important;
}

.menu-select {
    width: auto;
    float: right;
    margin-top: 28px;
}

.header-container {
    height: auto;
    padding: 0 120px;
    overflow: hidden;
}

li a{
    text-decoration: none;
}

.displaymenu{
    width: 940px;
    height: auto;
    margin: auto;
    overflow: auto;
}

.contentMenu{
    margin: auto;
    overflow: auto;
}

.contentMenu li{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    float: left;
    margin-top: 12px;
    margin-left: 3px;
}

.welcome{
    font-size: 190px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    height: 115px;
    text-align: center;
    margin-top: 75px;
}

.company-name{
    font-size: 26px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-transform: uppercase;
    float: left;
    padding-top: 11px;
} .company-name span{color: #5a7590;}

.content-logo{
    width: auto;
    height: auto;
    float: left;
    margin-top: 16px;
    text-decoration:none;
    border:0px;
}

.logo{width: 44px; height: 44px; float: left; margin: 0 7px 0 0;}

li {list-style: none outside none !important;}

.menubtn{
    height: auto;
    padding: 8px 18px;
    color: #fff;
}.menubtn:hover{background: #59c3b3; border-radius: 3px;}

.contentbtn {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    width: auto;
    text-decoration: none;
}


#menu-menu-1 {
    position: relative;
    bottom:     75px;
    right: 100px;
}
