#main {
    margin-left: auto;
    margin-right: auto;
	width: 800px;
}

.logo img {
    top: 5px;
    position: relative;
    width: 44px;
    height: 40px;
}
#dz_div{
	margin-top: 130px;
}

.hidden {
    display: none;
}

#progressbar {
	margin-top: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    line-height: 35px;
}


#obs {
    margin-top: 200px;
    font-family: 'Droid Serif', serif;
    color: red;
    text-align: center;
    margin-top: 200px;
}


#info_text {
    font-family: 'Droid Serif', serif;
    color: #778899;
    font-style: italic;
    text-align: center;
    margin-top: 45px;
}

#plabel {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    vertical-align: middle;
}

#url_bar {
    margin-top: 15px;
    border-style:solid;
    box-shadow: 1px 1px 1px #888888;
    border-width: 1px;
    height: 40px;
    text-align: center;
    line-height: 42px;

}

@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400italic);

@font-face {
   font-family: rodus;
   src: url(fonts/rodusround300-webfont.woff);
}


#url_bar span {
    display: inline-block;
    vertical-align: middle;
    font-family: rodus;
    font-size: 25px;
}